.bike{
    background-color: blueviolet;
} 
.bike1{
    background-color: yellow;
}
.bike2{
    background-color:red ;
}
.bike3{
    background-color: aqua;
}
.ol{
    background-color: brown;

}
.span{
    background-color: darkseagreen;
}
.name{
    background-color: beige;
}
.job{
    background-color: aquamarine;
}
.job{
    background-color: azure;
}
.age{
    background-color: azure;
}
.vamsi{
    background-color: chartreuse;
}
.two{
    background-color: bisque;
}
.react{
    background-color: blanchedalmond;
}
.sundar{
    background-color: darkorange;
}
  .red{
    background-color: deeppink;
  } 
  .brown{
    background-color: blue;
  } 
  .table{
    background-color: fuchsia;
  }
